# Function to Automate Web Scraping of Historical Yellow Cab Rides in NYC

In [1]:
import requests
from pathlib import Path

def DownloadOneFileRawData(year:int, month:int) -> Path:
    URL = f"https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_{year}-{month:02d}.parquet"
    response = requests.get(URL)

    if response.status_code == 200:
        path = f"../data/raw/rides_{year}-{month:02d}.parquet"
        open(path, "wb").write(response.content)
        return path
    else:
        raise Exception(f"{URL} is not available")

In [2]:
DownloadOneFileRawData(2022, 1)

'../data/raw/rides_2022-01.parquet'

In [3]:
import pandas as pd

rides = pd.read_parquet("../data/raw/rides_2022-01.parquet")

rides.head(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.00,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.00,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.00,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.00,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.00,0.3,30.30,2.5,0.0
5,1,2022-01-01 00:40:15,2022-01-01 01:09:48,1.0,10.30,1.0,N,138,161,1,33.0,3.0,0.5,13.00,6.55,0.3,56.35,2.5,0.0
6,2,2022-01-01 00:20:50,2022-01-01 00:34:58,1.0,5.07,1.0,N,233,87,1,17.0,0.5,0.5,5.20,0.00,0.3,26.00,2.5,0.0
7,2,2022-01-01 00:13:04,2022-01-01 00:22:45,1.0,2.02,1.0,N,238,152,2,9.0,0.5,0.5,0.00,0.00,0.3,12.80,2.5,0.0
8,2,2022-01-01 00:30:02,2022-01-01 00:44:49,1.0,2.71,1.0,N,166,236,1,12.0,0.5,0.5,2.25,0.00,0.3,18.05,2.5,0.0
9,2,2022-01-01 00:48:52,2022-01-01 00:53:28,1.0,0.78,1.0,N,236,141,2,5.0,0.5,0.5,0.00,0.00,0.3,8.80,2.5,0.0

In [4]:
rides = rides[["tpep_pickup_datetime", "PULocationID"]]

rides.rename(columns={"tpep_pickup_datetime":"pickup_datetime", "PULocationID":"pickup_location"}, inplace = True)

rides

            pickup_datetime  pickup_location
0       2022-01-01 00:35:40              142
1       2022-01-01 00:33:43              236
2       2022-01-01 00:53:21              166
3       2022-01-01 00:25:21              114
4       2022-01-01 00:36:48               68
...                     ...              ...
2463926 2022-01-31 23:36:53               90
2463927 2022-01-31 23:44:22              107
2463928 2022-01-31 23:39:00              113
2463929 2022-01-31 23:36:42              148
2463930 2022-01-31 23:46:00              186

[2463931 rows x 2 columns]

# Data Validation - Checking that all Pickups are actually from the Month they are suppose to be

In [5]:
rides["pickup_datetime"].describe()

count                       2463931
mean     2022-01-17 01:19:51.689724
min             2008-12-31 22:23:09
25%             2022-01-09 15:37:41
50%             2022-01-17 12:11:45
75%      2022-01-24 13:49:37.500000
max             2022-05-18 20:41:57
Name: pickup_datetime, dtype: object

In [6]:
rides = rides[rides["pickup_datetime"] >= "2022-01-01"]
rides = rides[rides["pickup_datetime"] <= "2022-02-01"]

rides["pickup_datetime"].describe()

count                       2463879
mean     2022-01-17 01:58:40.393674
min             2022-01-01 00:00:08
25%             2022-01-09 15:37:56
50%             2022-01-17 12:11:54
75%             2022-01-24 13:49:37
max             2022-01-31 23:59:58
Name: pickup_datetime, dtype: object

In [7]:
#Writing down on Disk the Transformed and Validated Data

In [8]:
rides.to_parquet("../data/transformed/rides_2022-01.parquet")

# Data Transformation - Transforming Raw Data into Time-Series Data

In [9]:
import pandas as pd

newrides = pd.read_parquet("../data/transformed/rides_2022-01.parquet")

newrides.head(10)

      pickup_datetime  pickup_location
0 2022-01-01 00:35:40              142
1 2022-01-01 00:33:43              236
2 2022-01-01 00:53:21              166
3 2022-01-01 00:25:21              114
4 2022-01-01 00:36:48               68
5 2022-01-01 00:40:15              138
6 2022-01-01 00:20:50              233
7 2022-01-01 00:13:04              238
8 2022-01-01 00:30:02              166
9 2022-01-01 00:48:52              236

In [10]:
newrides["pickup_hour"] = newrides["pickup_datetime"].dt.floor('H')

newrides

            pickup_datetime  pickup_location         pickup_hour
0       2022-01-01 00:35:40              142 2022-01-01 00:00:00
1       2022-01-01 00:33:43              236 2022-01-01 00:00:00
2       2022-01-01 00:53:21              166 2022-01-01 00:00:00
3       2022-01-01 00:25:21              114 2022-01-01 00:00:00
4       2022-01-01 00:36:48               68 2022-01-01 00:00:00
...                     ...              ...                 ...
2463926 2022-01-31 23:36:53               90 2022-01-31 23:00:00
2463927 2022-01-31 23:44:22              107 2022-01-31 23:00:00
2463928 2022-01-31 23:39:00              113 2022-01-31 23:00:00
2463929 2022-01-31 23:36:42              148 2022-01-31 23:00:00
2463930 2022-01-31 23:46:00              186 2022-01-31 23:00:00

[2463879 rows x 3 columns]

In [11]:
aggrides = newrides.groupby(["pickup_hour", "pickup_location"]).size().reset_index()
aggrides.rename(columns = {0 : "numrides"}, inplace = True)
aggrides

              pickup_hour  pickup_location  numrides
0     2022-01-01 00:00:00                4        11
1     2022-01-01 00:00:00                7         6
2     2022-01-01 00:00:00               10         1
3     2022-01-01 00:00:00               12         2
4     2022-01-01 00:00:00               13        12
...                   ...              ...       ...
66863 2022-01-31 23:00:00              261         4
66864 2022-01-31 23:00:00              262         8
66865 2022-01-31 23:00:00              263        26
66866 2022-01-31 23:00:00              264        24
66867 2022-01-31 23:00:00              265         4

[66868 rows x 3 columns]

In [12]:
#Checking for 0 Rides Rows and Adding Empty Hours when No Rides Occurred

from tqdm import tqdm

def AddMissingSlots(aggrides:pd.DataFrame) -> pd.DataFrame:
    
    locations = aggrides["pickup_location"].unique()
    full_range = pd.date_range(aggrides["pickup_hour"].min(), aggrides["pickup_hour"].max(), freq = "H")
    output = pd.DataFrame()
    
    for locid in tqdm(locations):
    
        #Keep only Rides for this Location ID
        aggrides_i = aggrides.loc[aggrides["pickup_location"] == locid, ["pickup_hour", "numrides"]]
        
        #Adding Missing Dates with 0 in a Series
        aggrides_i.set_index("pickup_hour", inplace = True)
        aggrides_i.index = pd.DatetimeIndex(aggrides_i.index)
        aggrides_i = aggrides_i.reindex(full_range, fill_value = 0)
        
        #Add Back Location ID Columns
        aggrides_i["pickup_location_id"] = locid
        
        output = pd.concat([output, aggrides_i])
        
    #Move the PickupHour from Index to Column
    output = output.reset_index().rename(columns = {"index":"pickup_hour"})
    
    return output

In [13]:
#Creating New Complete Time-Series DF

AggRides = AddMissingSlots(aggrides)

AggRides

100%|███████████████████████████████████████████████████████████████████████████| 257/257 [00:01<00:00, 186.63it/s]

               pickup_hour  numrides  pickup_location_id
0      2022-01-01 00:00:00        11                   4
1      2022-01-01 01:00:00        15                   4
2      2022-01-01 02:00:00        26                   4
3      2022-01-01 03:00:00         8                   4
4      2022-01-01 04:00:00         9                   4
...                    ...       ...                 ...
191203 2022-01-31 19:00:00         0                 176
191204 2022-01-31 20:00:00         0                 176
191205 2022-01-31 21:00:00         0                 176
191206 2022-01-31 22:00:00         0                 176
191207 2022-01-31 23:00:00         0                 176

[191208 rows x 3 columns]

# Plotting Data

In [14]:
from typing import Optional, List
import plotly.express as px

def PlotRides(rides:pd.DataFrame, locations:Optional[List[int]] = None):
    
    rides_to_plot = rides[rides["pickup_location_id"].isin(locations)] if locations else rides
    
    fig = px.line(
        rides_to_plot,
        x = "pickup_hour",
        y = "numrides",
        color = "pickup_location_id",
        template = "none",
    )
    
    fig.show()

In [15]:
# The Following Import and Setting is needed to Make the Plotly Figure Showing
import plotly.io as pio
pio.renderers.default = "iframe" # or 'colab' or 'iframe' or 'iframe_connected' or 'sphinx_gallery'

PlotRides(AggRides, locations = [43])

/usr/lib/python3.11/site-packages/_plotly_utils/basevalidators.py:105: FutureWarning:

The behavior of DatetimeProperties.to_pydatetime is deprecated, in a future version this will return a Series containing python datetime objects instead of an ndarray. To retain the old behavior, call `np.array` on the result

In [16]:
#Saving the Data to Disk

AggRides.to_parquet("../data/transformed/TransformedData_2022-01.parquet")

# Transforming the Time-Series in Training Data (Tabular Data)

In [17]:
#The Features are going to be an X Number of Rows, each one counting as a Feature
#The Target is going to be the Next Immediate Row after the Ones selected as Features
#On Every new Target to Predict we Slide the Rows by 1
#So, the Features on Each iteration are always going to be an X Number of Rows.
#(The Previous Target becomes a Feature when Predicting the Next Target and we Drop the First Row Used)

#EXAMPLE:
#Rolling 12 Features, we Take the first 12 Rows to predict the 13th as a Target
#Features Rows Indexes = 0 - 12
#Target Row Index = 13
#NEXT ITERATION
#We Take the 12 Rows from Index 1 to 13 to predict the 14th as a Target
#Features Rows Indexes = 1 - 13
#Target Row Index = 14

In [18]:
TransformedData = pd.read_parquet("../data/transformed/TransformedData_2022-01.parquet")
TransformedData

               pickup_hour  numrides  pickup_location_id
0      2022-01-01 00:00:00        11                   4
1      2022-01-01 01:00:00        15                   4
2      2022-01-01 02:00:00        26                   4
3      2022-01-01 03:00:00         8                   4
4      2022-01-01 04:00:00         9                   4
...                    ...       ...                 ...
191203 2022-01-31 19:00:00         0                 176
191204 2022-01-31 20:00:00         0                 176
191205 2022-01-31 21:00:00         0                 176
191206 2022-01-31 22:00:00         0                 176
191207 2022-01-31 23:00:00         0                 176

[191208 rows x 3 columns]

In [19]:
#Just Picking a One Location now

TS_OneLocation = TransformedData.loc[TransformedData["pickup_location_id"] == 43, :].reset_index(drop = True)
TS_OneLocation

            pickup_hour  numrides  pickup_location_id
0   2022-01-01 00:00:00        97                  43
1   2022-01-01 01:00:00        60                  43
2   2022-01-01 02:00:00        22                  43
3   2022-01-01 03:00:00         8                  43
4   2022-01-01 04:00:00         6                  43
..                  ...       ...                 ...
739 2022-01-31 19:00:00        61                  43
740 2022-01-31 20:00:00        73                  43
741 2022-01-31 21:00:00        33                  43
742 2022-01-31 22:00:00        21                  43
743 2022-01-31 23:00:00        12                  43

[744 rows x 3 columns]

In [20]:
def GetCutoffIndeces(data:pd.DataFrame, nFeatures:int, SlidingFactor:int) -> list:
    StopPosition = len(data)-1
    
    #Start the First SubSequence at Index Position 0
    SubseqFirstIdx = 0
    SubseqStepIdx = nFeatures
    SubseqLastIdx = nFeatures +1
    
    #[FirstIdx, StepIdx, LastIdx]
    
    Indeces = []
    
    while SubseqLastIdx <= StopPosition:
        Indeces.append([SubseqFirstIdx, SubseqStepIdx, SubseqLastIdx])
        
        #StepSize is used as Sliding Factor
        SubseqFirstIdx += SlidingFactor
        SubseqStepIdx += SlidingFactor
        SubseqLastIdx += SlidingFactor
        
    return Indeces

In [21]:
nFeatures = 24
SlidingFactor = 1

Indeces = GetCutoffIndeces(TS_OneLocation, nFeatures, SlidingFactor)

Indeces[:5]

[[0, 24, 25], [1, 25, 26], [2, 26, 27], [3, 27, 28], [4, 28, 29]]

In [22]:
#Implementing the Slicing using the Generated Indeces

import numpy as np
import warnings
warnings.filterwarnings("ignore") 

nSamples = len(Indeces)
X = np.ndarray(shape = (nSamples, nFeatures), dtype = np.float32)
Y = np.ndarray(shape = (nSamples), dtype = np.float32)

PickupHours = []

for i, idx in enumerate(Indeces):
    X[i,:] = TS_OneLocation.iloc[idx[0]:idx[1]]["numrides"].values
    Y[i] = TS_OneLocation.iloc[idx[1]:idx[2]]["numrides"].values
    PickupHours.append(TS_OneLocation.iloc[idx[1]]["pickup_hour"])

In [23]:
#Constructing a Features DataFrame with the Columns name inteded as Number of Rides X Hours Before the Targets' Hour

FeaturesOneLocationDF = pd.DataFrame(X, columns = [f"rides_{i+1}_hours_before" for i in reversed(range(nFeatures))])
FeaturesOneLocationDF

,rides_24_hours_before,rides_23_hours_before,rides_22_hours_before,rides_21_hours_before,rides_20_hours_before,rides_19_hours_before,rides_18_hours_before,rides_17_hours_before,rides_16_hours_before,rides_15_hours_before,...,rides_10_hours_before,rides_9_hours_before,rides_8_hours_before,rides_7_hours_before,rides_6_hours_before,rides_5_hours_before,rides_4_hours_before,rides_3_hours_before,rides_2_hours_before,rides_1_hours_before
0,97.0,60.0,22.0,8.0,6.0,5.0,3.0,10.0,7.0,19.0,...,70.0,94.0,87.0,73.0,34.0,32.0,22.0,16.0,18.0,6.0
1,60.0,22.0,8.0,6.0,5.0,3.0,10.0,7.0,19.0,24.0,...,94.0,87.0,73.0,34.0,32.0,22.0,16.0,18.0,6.0,3.0
2,22.0,8.0,6.0,5.0,3.0,10.0,7.0,19.0,24.0,39.0,...,87.0,73.0,34.0,32.0,22.0,16.0,18.0,6.0,3.0,1.0
3,8.0,6.0,5.0,3.0,10.0,7.0,19.0,24.0,39.0,35.0,...,73.0,34.0,32.0,22.0,16.0,18.0,6.0,3.0,1.0,1.0
4,6.0,5.0,3.0,10.0,7.0,19.0,24.0,39.0,35.0,77.0,...,34.0,32.0,22.0,16.0,18.0,6.0,3.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
714,52.0,36.0,28.0,16.0,13.0,8.0,1.0,1.0,2.0,1.0,...,78.0,74.0,66.0,91.0,117.0,100.0,106.0,147.0,121.0,102.0
715,36.0,28.0,16.0,13.0,8.0,1.0,1.0,2.0,1.0,1.0,...,74.0,66.0,91.0,117.0,100.0,106.0,147.0,121.0,102.0,66.0
716,28.0,16.0,13.0,8.0,1.0,1.0,2.0,1.0,1.0,4.0,...,66.0,91.0,117.0,100.0,106.0,147.0,121.0,102.0,66.0,61.0
717,16.0,13.0,8.0,1.0,1.0,2.0,1.0,1.0,4.0,9.0,...,91.0,117.0,100.0,106.0,147.0,121.0,102.0,66.0,61.0,73.0
718,13.0,8.0,1.0,1.0,2.0,1.0,1.0,4.0,9.0,53.0,...,117.0,100.0,106.0,147.0,121.0,102.0,66.0,61.0,73.0,33.0

In [24]:
#Constructing a Targets DataFrame with the Columns name inteded as Number of Rides AT the Targets' Hour

TargetsOneLocationDF = pd.DataFrame(Y, columns = ["target_rides_next_hour"])
TargetsOneLocationDF

     target_rides_next_hour
0                       3.0
1                       1.0
2                       1.0
3                       0.0
4                       0.0
..                      ...
714                    66.0
715                    61.0
716                    73.0
717                    33.0
718                    21.0

[719 rows x 1 columns]

In [25]:
#Defining a Function that Does the Trick for all Locations and Not Just One
#(Transforms all Time-Series for Each of ALL Locations into Tabular Format as Above)

def TransformALL(tsData:pd.DataFrame, nFeatures:int, SlidingFactor:int) -> pd.DataFrame:
    
    assert set(tsData.columns) == {"pickup_hour", "numrides", "pickup_location_id"}
    
    locationIDs = tsData["pickup_location_id"].unique()
    Features = pd.DataFrame()
    Targets = pd.DataFrame()
    
    for locid in tqdm(locationIDs):
        #Keep only Time-Series Data for this Location
        tsDataOneLocation = tsData.loc[tsData["pickup_location_id"] == locid, ["pickup_hour", "numrides"]].sort_values(by = ["pickup_hour"])
        
        #Pre-Compute Cutoff Indeces to Split DataFrame Rows
        indeces = GetCutoffIndeces(tsDataOneLocation, nFeatures, SlidingFactor)
        
        #Slice and Transpose Data into NumPy Arrays for Features and Target
        nSamples = len(indeces)
        X = np.ndarray(shape=(nSamples, nFeatures), dtype=np.float32)
        Y = np.ndarray(shape=(nSamples), dtype=np.float32)
        PickupHours = []
        
        for i, idx in enumerate(indeces):
            X[i,:] = tsDataOneLocation.iloc[idx[0]:idx[1]]["numrides"].values
            Y[i] = tsDataOneLocation.iloc[idx[1]:idx[2]]["numrides"].values
            PickupHours.append(tsDataOneLocation.iloc[idx[1]]["pickup_hour"])
            
        #NumPy -> Pandas
        FeaturesOneLocationDF = pd.DataFrame(X, columns = [f"rides_{i+1}_hours_before" for i in reversed(range(nFeatures))])
        FeaturesOneLocationDF["pickup_hour"] = PickupHours
        FeaturesOneLocationDF["pickup_location_id"] = locid
        
        TargetsOneLocationDF = pd.DataFrame(Y, columns = ["target_rides_next_Hour"])

        #Concatenate Results
        Features = pd.concat([Features, FeaturesOneLocationDF])
        Targets = pd.concat([Targets, TargetsOneLocationDF])
        
    Features.reset_index(inplace = True, drop = True)
    Targets.reset_index(inplace = True, drop = True)
    
    return Features, Targets["target_rides_next_Hour"]

In [26]:
Features, Targets = TransformALL(TransformedData, nFeatures = 24*7*1, SlidingFactor = 24) #One Week of Features

100%|████████████████████████████████████████████████████████████████████████████| 257/257 [00:04<00:00, 61.10it/s]

In [27]:
Features

,rides_168_hours_before,rides_167_hours_before,rides_166_hours_before,rides_165_hours_before,rides_164_hours_before,rides_163_hours_before,rides_162_hours_before,rides_161_hours_before,rides_160_hours_before,rides_159_hours_before,...,rides_8_hours_before,rides_7_hours_before,rides_6_hours_before,rides_5_hours_before,rides_4_hours_before,rides_3_hours_before,rides_2_hours_before,rides_1_hours_before,pickup_hour,pickup_location_id
0,11.0,15.0,26.0,8.0,9.0,7.0,3.0,1.0,0.0,3.0,...,2.0,3.0,3.0,7.0,4.0,4.0,7.0,10.0,2022-01-08,4
1,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,3.0,3.0,5.0,7.0,8.0,6.0,7.0,14.0,2022-01-09,4
2,0.0,1.0,0.0,0.0,1.0,1.0,1.0,3.0,2.0,3.0,...,6.0,4.0,3.0,5.0,1.0,1.0,1.0,0.0,2022-01-10,4
3,1.0,1.0,0.0,0.0,0.0,3.0,2.0,3.0,4.0,5.0,...,6.0,3.0,2.0,4.0,1.0,0.0,1.0,2.0,2022-01-11,4
4,0.0,0.0,0.0,0.0,0.0,0.0,3.0,4.0,1.0,2.0,...,1.0,6.0,3.0,2.0,3.0,2.0,4.0,1.0,2022-01-12,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6163,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-01-27,176
6164,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-01-28,176
6165,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-01-29,176
6166,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-01-30,176
6167,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-01-31,176